body {
  font: 0.9em sans-serif;
  background-color: #ececec;
  width:460px;
}

#droptarget{
    width:450px; 
    height:350px; 
    border: 1px #000 solid;
	overflow: auto;
	background:#fff;
	padding: 0em 1em;
}

.dragover {
    background-color: #F9FF9E;
}

#note {
	padding-top: 20px;
}

#help {
	position: absolute;
	left: 2em;
	top: 5em;
	border: 1px solid #000;
	background:#FAFD84;
	padding: 0.5em;
}

#logbox {
	position: absolute;
	left: 2em;
	top: 5em;
	border: 1px solid #000;
	background:#eee;
	/*padding: 0.5em;*/
	width: 400px;
	height: 300px;
}

#log {
	width: 386px;
	height: 246px;
	overflow: auto;
	background:#fff;
	padding: 0.5em;
}

/*.mime_unknown {
	list-style:url('../img/aggregation.gif');
}*/

.mime {
	margin:0;
	padding:5px 0 0 20px;
	list-style:none;
}

.mime_aggregation {
	background:url('../img/mime_aggregation.gif') no-repeat 0 8px;
}

.mime_edition {
	background:url('../img/mime_edition.gif') no-repeat 0 8px;
}

.mime_collection {
	background:url('../img/mime_collection.gif') no-repeat 0 8px;
}

.mime_work {
	background:url('../img/mime_work.gif') no-repeat 0 8px;
}

.mime_xml {
	background:url('../img/mime_xml.gif') no-repeat 0 8px;
}

.mime_tble {
	background:url('../img/mime_tble.gif') no-repeat 0 8px;
}

.mime_image {
	background:url('../img/mime_image.gif') no-repeat 0 8px;
}

.mime_unknown {
	background:url('../img/mime_unknown.gif') no-repeat 0 8px;
}


.blink {
  background-color: #FF0;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color  1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}

.imgButton {
	font-size: 1.8em;
}

.imgButton img {
	width:20px; 
	height:20px;
 } 

